@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Black.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Regular.ttf");
  font-weight: thin;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

.header-wrapper,
.slider-wrapper,
.servises-wrapper {
  width: 100%;
}

.header-wrapper {
  background-color: #2d303a;
}

.header {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 89px;
  background-color: #2d303a;
}

.z {
  color: #f06c64;
}

.singolo {
  background-color: #2d303a;
  font-size: 13px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 41px;
  padding-left: 40px;
  letter-spacing: -0.09em;
}

.menu-bar {
  background-color: #2d303a;
  margin-right: 26px;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato";
  font-weight: 100;
  text-align: left;
}

ul.menu {
  float: right;
}

ul.menu li {
  float: left;
  margin-right: 13px;
  margin-bottom: 3px;
  color: #ffffff;
  list-style: none;
  font-stretch: inherit;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.008em;
}

ul.menu li:hover {
  cursor: pointer;
  color: #f06c64;
}

.white {
  color: white;
}

.header-bottom {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #323746;
  z-index: 10;
}

span.point:after {
  content: '\00B7';
  padding-right: 13px;
  color: #494e62;
}

.slider-wrapper {
  background-color: #f06c64;
}

.slider {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 600px;
  background-color: #f06c64;
}

.slider-bottom {
  width: 100%;
  height: 6px;
  background-color: #ea676b;
}

.left {
  float: left;
  margin-top: 284px;
  margin-left: 39px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.right {
  float: right;
  margin-right: 37px;
  margin-top: 284px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.left:hover,
.right:hover {
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #dbdc7e;
  box-shadow: 0 0 7px #ccce3c;
}

.horizontal {
  float: right;
  margin-right: 52px;
  padding-top: 179px;
}

.base {
  position: absolute;
  z-index: 2;
}

.shadow {
  padding-top: 1px;
  margin-left: 2px;
}

.screen {
  position: absolute;
  z-index: 3;
  margin-left: 57px;
  margin-top: 12px;
  width: 333px;
  height: 188px;
}

.LayerH {
  position: absolute;
  z-index: 4;
  overflow: hidden;
  width: 333px;
  height: 188px;
  margin-left: 58px;
  margin-top: 12px;
  border: 3px solid #c7c8c7;
  background-image: url(assets/LayerH.svg);
  background-position: 50.5% 30.4%;
}

.Speaker {
  position: absolute;
  z-index: 3;
  margin-left: 417px;
  margin-top: 90px;
}

.Circle {
  position: absolute;
  z-index: 3;
  margin-left: 8px;
  margin-top: 86px;
}

.Square {
  position: absolute;
  z-index: 4;
  margin-left: 21px;
  margin-top: 99px;
}

.OuterCircle {
  position: absolute;
  z-index: 3;
  margin-left: 431px;
  margin-top: 100px;
}

.RedDot {
  position: absolute;
  z-index: 4;
  margin-left: 434px;
  margin-top: 98px;
}

.vertical {
  padding-left: 110px;
  padding-top: 58px;
}

.baseV {
  position: absolute;
  z-index: 2;
}

.screenV {
  position: absolute;
  z-index: 3;
  margin-left: 12px;
  margin-top: 64px;
  height: 333px;
  width: 188px;
}

.layerV {
  position: absolute;
  z-index: 4;
  margin-left: 13px;
  margin-top: 63px;
  overflow: hidden;
  height: 333px;
  width: 188px;
  border: 3px solid #c7c8c7;
  background-image: url(assets/LayerV.svg);
  background-position: 3.5% 54.7%;
}

.speakerV {
  position: absolute;
  z-index: 3;
  margin-left: 91px;
  margin-top: 30px;
}

.circleV {
  position: absolute;
  z-index: 3;
  margin-left: 86px;
  margin-top: 407px;
}

.SquareV {
  position: absolute;
  z-index: 4;
  margin-left: 100px;
  margin-top: 420px;
}

.OuterCircleV {
  position: absolute;
  z-index: 3;
  margin-left: 104px;
  margin-top: 14px;
}

.RedDotV {
  position: absolute;
  z-index: 4;
  margin-left: 107px;
  margin-top: 11px;
}

.shadowV {
  padding-top: 1px;
  padding-left: 2px;
}

.servises-wrapper {
  background-color: #f2f2f2;
}

.servises {
  background-color: #f2f2f2;
  width: 1020px;
  height: 494px;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.title {
  font-size: 15px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 69px;
  margin-left: 40px;
}

.description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 27px;
}

.container {
  margin-left: 40px;
  margin-top: 47px;
  width: 939px;
  height: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 45px;
  grid-template-rows: 1fr 1fr;
}

.item {
  width: 300px;
}

.last {
  width: 301px;
}

.pen {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 15px;
}

.bulb {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.heart {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 16px;
}

.phone {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.bubble {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 18px;
}

.star {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 15px;
}

.ellipse {
  float: left;
}

.text {
  color: #666d89;
  float: right;
  clear: both;
}

.text h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  overflow: hidden;
}

.text p {
  margin-top: 11px;
  width: 220px;
  height: 49px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: thin;
  font-style: italic;
  text-align: justify;
}

.servises-bottom {
  width: 100%;
  height: 7px;
  background-color: #ffffff;
}

.FeelLike {
  margin-left: 2px;
}

.LoveIs {
  margin-left: 2px;
}

.down {
  margin-top: 0.5%;
}
