
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: thin;
  font-style: italic;
}

* {
      box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
}

body {
  --valueL1: -800%;
  --valueR1: 800%;
  --valueL: -800%;
  --valueR: 800%;
  --valueLB: 0;
}

.header-wrapper,
.slider-wrapper,
.servises-wrapper {
  width: 100%;
}

.header-wrapper {
  position: fixed;
    background-color: #2d303a;
    z-index: 25;
}

.header {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 89px;
  background-color: #2d303a;
}

.selected-nav {
  color: #f06c64 !important;
}

.singolo {
  background-color: #2d303a;
  font-size: 13px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 41px;
  padding-left: 40px;
  letter-spacing: -0.09em;
}

.menu-bar {
  background-color: #2d303a;
  margin-right: 26px;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato";
  font-weight: 100;
  text-align: left;
}

ul.menu {
  float: right;

}

ul.menu li {
  float: left;
  margin-right: 13px;
  margin-bottom: 3px;
  color: #ffffff;
  list-style: none;
  font-stretch: inherit;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.008em;
}

ul.menu li:hover {
  cursor: pointer;
  color: #f06c64;
}

.white {
  color: white;
}

.red {
  color: #f06c64;
}

.header-bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
  z-index: 10;
}

span.point:after {
  content: '\00B7';
  padding-right: 13px;
  color: #494e62;
}

.slider-wrapper {
  background-color: #f06c64;
}

.slider {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 689px;
  padding-top: 146px;
  padding-bottom: 6px;
}

.border-bottom{
  border-bottom: 6px solid #ea676b;
}

.left {
  height: 100%;
  margin-top: 226px;
  margin-left: 39px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.right {
      z-index: 8;
    margin-left: 828px;
  height: 100%;
  margin-top: 228px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.left:hover,
.right:hover {
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #dbdc7e;
  box-shadow: 0 0 7px #ccce3c;
}

.horizontal {
  padding-top: 121px;
  margin-left: 72px;
}

.vertical-base{
    position: absolute;
    z-index: 2;
    left: 69.2%;
    top: 0.9%;
}

.vertical-layer{
  position: absolute;
    z-index: 3;
    top: 25.4%;
    left: 90.3%;
}

.vertical-shadow{
    position: absolute;
    left: 72%;
        top: 1%;
}

.horizontal-base{
      position: absolute;
    z-index: 2;
        left: 505%;
    top: 46.5%;
}

.horizontal-layer{
  position: absolute;
  z-index: 3;
      left: 587%;
    top: 51.7%;
    border: 1px solid #C7C7C7;
}

.horizontal-shadow{
  position: absolute;
      left: 508%;
    top: 47%;
}

.vertical-base:hover,
.vertical-layer:hover,
.horizontal-base:hover,
.horizontal-layer:hover{
  cursor:pointer;
}

.servises-wrapper {
  background-color: #f2f2f2;
}

.servises {
  background-color: #f2f2f2;
  width: 1020px;
  height: 494px;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 69px;
  margin-left: 40px;
}

.description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  margin-left: 40px;
  margin-top: 27px;
}

.container {
  margin-left: 40px;
  margin-top: 47px;
  width: 939px;
  height: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 45px;
  grid-template-rows: 1fr 1fr;
}

.item {
  width: 300px;
     display: flex;
}

.last {
  width: 301px;
}

.pen {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 15px;
}

.bulb {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.heart {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 16px;
}

.phone {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.bubble {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 18px;
}

.star {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 15px;
}

.ellipse {
  float: left;
}

.text {
  color: #666d89;
  float: right;
  clear: both;
      margin-left: 19px;
}

.text h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  overflow: hidden;
}

.text p {
  margin-top: 11px;
  width: 220px;
  height: 49px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: thin;
  font-style: italic;
  text-align: justify;
}

.servises-bottom {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.FeelLike {
  margin-left: 2px;
}

.LoveIs {
  margin-left: 2px;
}

.down {
  margin-top: 0.5%;
}

.portfolio-bottom{
    border-bottom: 6px solid #323746;
}

.portfolio {
  width: 100%;
  background-color: #2D303A;
  padding-top: 59px;
  padding-left: 1px;
}

.portfolio-wrapper {
  width: 950px;
  margin: 0 auto;
    padding-bottom: 54px;

}

.portfolio h2 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  text-align: left;
  font-weight: 900;
}

.portfolio p {
  width: 940px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  margin-top: 27px;
}

button {
  background-color: transparent;
  border: none;
}

.portfolio-buttons {
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 6px;
}

.portfolio_button {
  border: 1px solid #666D89;
  border-radius: 5px;
  color: #767e9e;
  margin-right: 7px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.selected-portfolio {
  color: #dedede;
  border-color: #dedede;
  padding: 0 7px;
}

.portfolio_button.second {
  letter-spacing: -0.01em;
}

.portfolio_button.third {
  padding: 0 7px;
}

.portfolio_button.forth {
  padding-left: 6px;
  padding-right: 7px;
  letter-spacing: 0;
}

.portfolio_button:hover {
  color: #dedede;
  border-color: #dedede;
  cursor: pointer;
}

.portfolio-container {
  margin-left: -5px;
  margin-top: -5px;
  width: 949px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

}

.portfolio-container_size {
  padding-top: 5px;
  height: 620px;
  overflow: hidden;
  padding-left: 5px;
}

.about {
  width: 100%;
  background-color: #f2f2f2;
}

.about-bottom{
  border-bottom: 6px solid #ffffff;
}

.about-us_wriper {
  width: 940px;
  margin: 0 auto;
  padding-top: 69px;
}

.about-us_wriper h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.about-us_wriper p {
  margin-top: 27px;
  margin-bottom: 47px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  font-weight: 400;
}

.about-us_people h3 {
  white-space: pre;
  margin-top: 15px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  overflow: hidden;
}

.about-us_people p {
  width: 302px;
  margin-top: 10px !important;
  margin-bottom: 8px !important;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
}

.people_first {
  letter-spacing: 0.01em;
}

.people_second {
  letter-spacing: 0.014em;
}

.people_third {
  letter-spacing: 0.013em;
}

.about-us_container {
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  padding-bottom: 59px;
}

.about-us_people.last {
  margin-left: 1px;
}

.about-us_icon {
  text-align: center;
  margin-left: 1px;
}

.about-us_icon li {
  display: inline-block;
  margin-right: 6px;
  float: left;
}

.about-us_icon li:hover {
  opacity: 0.7;
}

.contact-border{
  border-bottom: 6px solid #ea676b;
}

.contact {
  width: 100%;
  background-color: #f06c64;
}

.quote-wrapper {
  width: 937px;
  height: 648px;
  margin: 0 auto;
}

.quote-wrapper h2 {
  padding-top: 69px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-left: -1px;
}

.quote-p {
  padding-top: 27px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

form {
  margin-top: 3px;
}

.forms {
    margin-top: 71px;
  display: grid;
  grid-template-columns: 620px 301px;
  grid-gap: 19px;
}

.forms input {
  padding-left: 13px;
    width: 620px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.forms textarea {
  padding-left: 13px;
    width: 620px;
  height: 202px;
  resize: none;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

::placeholder {
  font-family: "Lato";
  font-weight: 400;
  color: #f48c8f;
  opacity: 1;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.01em;
}

textarea::placeholder {
  padding-top: 7px;
}

.contact-information {
  float: right;
  padding-left: 1px;
  width: 303px;
  height: 162px;
}

.contact-information h3 {
  margin: 3px 0 10px 0;
}

.contact-information p {
  width: 299px;
  font-size: 12px;
  line-height: 21px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 23px;
}

.contact-p-line {
  line-height: 26px !important;
  letter-spacing: 0.01em;
}

.contact-first {
  margin-bottom: 20px;
  padding-left: 0 !important;
}

.contact-second {
  background: url(assets/location.svg) no-repeat left 3px top 5px;
}

.contact-third {
  background: url(assets/phone1.svg) no-repeat left 1px top 5px;
  margin-bottom: -1px;
}

.contact-forth {
  background: url("assets/mail.svg") no-repeat left 0px top 8px;
  margin-top: 1px;
}

footer {
  width: 100%;
  height: 76px;
  background-color: #2d303a;
}

.footer-wrapper {
  width: 964px;
  margin: 0 auto;
}

.footer-icon {
  margin-top: -24px;
  margin-right: 4px;
  float: right;
  list-style: none;
}

.footer-icon li {
  float: left;
  margin-right: 6px;
}

.copyright {
  padding-left: 14px;
  padding-top: 30px;
  font-weight: 300;
  font-size: 12px;
  color: #666d89;
}

a {
  text-decoration: none;
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.copy-date {
  letter-spacing: -0.01em !important;
}

.footer-icon li:hover,
.contact-third:hover,
.contact-forth:hover {
  opacity: 0.7;
}

.slide{
  display: none;
  position: relative;  
}

.active-slide{
  display: block;
  
}

.slider-first{
 
}

.first-slide-container{
  display: flex;
}

.second-slide{
    padding-left: 192px;
    padding-right: 139px;
}

.next {
  display: block;
  animation: 0.4s ease-in-out;
}

.phones{
  display: flex;
  justify-content: center;
  
}

.to-left{
  animation-name: left;
}

.to-right{
  animation-name: right;
  animation-direction: reverse;
}

.from-left{
  animation-name: left;
  animation-direction: reverse;
}

.from-right{
  animation-name: right;
}

.to-left1{
  animation-name: left1;
}

.to-right1{
  animation-name: right1;
  animation-direction: reverse;
}

.from-left1{
  animation-name: left1;
  animation-direction: reverse;
}

.from-right1{
  animation-name: right1;
}

.slider-container{
  display: flex;
       overflow: hidden;
           padding-bottom: 22%;
}

.blue {
  background-color: #648BF0;
  border-bottom:6px solid #648BF0;
}

.layerBackground{
  display: block;
}

.portfolio_projects{
  border: 5px solid transparent;
}

.portfolio_projects:hover{
  cursor: pointer;
  opacity: 0.8;
}

.borderBtn{
  border: 5px solid #F06C64;
}

.modal {
  position: absolute;
  top: 0; 
  left: 0;
  z-index:999;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-wrapper{
  width: 100%;
  height: 492.5%;
  background: #0008;
}

.text-modal{
  padding: 30px;
  position: fixed;
  top: 20%;
  background-color: white;
  border-radius: 7px;
}

.text-modal p{
  font-size: 20px;
  color: grey;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


.button-OK{
  margin-top: 15px ;
  margin-left: 60px;
  width: 80px;
  height: 30px;
  border: 2px solid #F06C64;
  border-radius: 5px;
}

.button-OK:hover{
  background-color: #F06C64;
  color: white;
}

.hide {
  display: none;
}

.slide2-src{
  position: absolute;
}

.marginLeftR{
  margin-left: 570px !important;
}

.button-last {
    color: #886A30;
    background-color: #FBC65F;
    width: 136px;
    height: 38px;
    font-size: 14px;
    line-height: 17px;
    font-family: Lato;
    font-weight: bold;
      border-radius: 5px;
}

.button-last:hover {
  background-color: #f0d8d9;
  color: #666d89;
  cursor: pointer;
}

@media screen and (max-width: 1019.9px) {
body {
  --valueLB: 70%;
}

}

@keyframes left1{
  from {
      left: var(--valueLB);
  }
  to {
    left: var(--valueL1);
  }
}

@keyframes right1{
  from {
    left: var(--valueR1);
  }
  to {
    left: var(--valueLB);
  }
}

@keyframes left{
  from {
      left: 0;
  }
  to {
    left: var(--valueL);
  }
}

@keyframes right{
  from {
    left: var(--valueR);
  }
  to {
    left: 0;
  }
}

.phone-width{
    width:100%
  }

.horizontal-base1{
  position: absolute;
  width:100%;
}

.example{
  width:75%;
}

@media screen and (max-width: 1019.9px){
  .contact-p-line{
    line-height: 21px !important;
  }

  .blue {
    padding-bottom: 3px;
  }

  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr;
    width:96.8%;
       grid-gap:0px;
       grid-column-gap: 10px;
  grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

 .about-us_container {
    grid-gap: 2%;
    grid-template-columns: 30.08% 30.08% 30.08%;
    width: 100%;
    margin-top: 34px;
        padding-bottom: 66px;
}

  .about-us_people img{
    width:100%;
  }

  .photo_Visari{
        width: 100% !important;
  }

.about-us_wriper {
    width: 100%;
    padding-left: 40px;
        padding-top: 62px;
}

.title,
.description,
.container{
      margin-left: 5.209%;
}

.about-us_wriper p {
    width: 100%;
    margin-bottom: 5px !important;
    height: 72px;
}

.description {
 width: 89.45%;
  height: auto;
  }

  .container {
    width: 92.45%;
    margin-top: 4.975%;
       grid-template-columns: 42.25% 42.25%;
  grid-column-gap: 7.5%;
  grid-row-gap: 44.5%;
    grid-template-rows: 104px 104px 104px;
}

.portfolio-wrapper {
  width:100%;
      margin-left: -1%;
}

.portfolio p {
  width:100%;
  max-width: 940px;
}

  .phones{
                width: 7.05%;


  }

  .next{
   width: 100%;
    max-width: 73px;
  }

  .active-slide{
      width: 100%;

}
 

  .slider{
    height: 70vw;
    padding-top: 17.3%;
  }
  
   .vertical-base{
        width: 300%;
        position: absolute;
        left:0%;
  }

  .vertical-layer{
    border:none;
    width: 262%;
    margin-top: 93.5%;
    top: 0;
   left: 21.1%;
  }

    .vertical-shadow{ 
        width: 333%;
        left:0%;
  }

  .horizontal-base{
            width: 636%;
                left: 395.9%;
  }

  .horizontal-layer{
  border:none;
            left: 479.5%;
    width: 464%;
 
  }

  .horizontal-shadow{
            width: 671%;
                left: 395%;
  }
  
  .slide2-src {
    width: 699.5%;
        margin-left: 250%;
}

.header-bottom {

    height: 100%;
      min-height: 0.35em;
}

  .first-slide{
        left: 70%;
  }

  .right{
      margin-left: 79.7%;
      margin-top: 22.267%;
  }

  .left{
    z-index:8;
     margin-left: 3.83%;
    margin-top: 22.267%;
  }

  .slider-first,
  .services,
  .portfolio,
  .about,
  .contact,
  footer{
    width: 100%;
  }

  .title{
    padding-top: 6.381%;
  }



.item{
  height: 104px;
  width:100%;
      display: flex;
}

.horizontal{
  margin-top: 0;
  padding-top: 0;
}

.marginLeftR{
      margin-left: 79.7%!important;
}

.second-slide{
    padding-left: 0px;
    padding-right: 0px;
}

.border-bottom {
    padding-bottom: 3px;
  }
  
 .servises {
    height: 675px;
}

  .servises-bottom {
    display:none;
  }

  .portfolio h2,
  .portfolio p,
  .portfolio-buttons{
     margin-left: 45px;
  }


 .portfolio-container_size{
    margin-left: 40px;
    height: 108.4vw;
}

.portfolio-wrapper {
    padding-bottom: 65px;
}

  .portfolio-buttons {
    margin-bottom: 23px;
  }
  
  .portfolio p {
        width: 93%;
  }

  .portfolio_projects {
          width: 100%;
}

  .slider-container {
   padding-bottom: 33%;
  }
  
  .text p{
    width:100%;
  }

  
  .last {
       width: 100%;
}

.about-us_people{
  width: 100%;
}

.about-us_people h3 {
    margin-top: 3.75%;
    }

.about-us_people p {
    margin-top: 8px !important;
  }

  .about-us-p-first{
    height: 100% !important;
  }

.forms {
    grid-template-columns: 60.715% 30.36%;
    margin-top: 2.084%;
    grid-gap: 2.6%;
}

.quote-wrapper {
    width: 100%;
    height: 86.98vw;
}

.quote-wrapper h2 {
padding-top: 8.2%;

}
    .quote-p {
      width: 89.7%;
           margin-top: 3.52%;
          padding-top: 0px;
              height: 14.82%;
}

.quote-wrapper h2,
.quote-p,
.forms {
  margin-left:40px;
}

.forms input {
    padding-left: 10px;
    width: 100%;
           margin-bottom: 2.7%;
}

.contact-information {
    width: 100%;
    height: 100%;
    padding-left: 1px;
}

.contact-information p {
    width: 100%;
    }

.contact-information h3 {
    margin: 3px 0 3.65% 0;
    width: 100%;
}

.forms textarea {
    padding-left: 10px;
    width: 100%;
  }

  .contact-first {
   margin-bottom: 0;
    height: 34.8%;
}

.button-last {
    width: 30.77%;
    padding: 2.17% 0;
    margin-top: 3.395%;
    }


.footer-wrapper {
  width:100%;
}

.copyright {
    padding-left: 39px;
}

.footer-icon li {
    margin-left: 6px;
    margin-right: 0;
}

.footer-icon {
    margin-right: 42px;
    }


}


@media screen and (max-width: 1019.9px) and (min-width: 956px){
.slider {
    height: 66.7vw;
}

}

@media screen and (max-width: 956px) and (min-width: 893px){
.slider {
    height: 67.8vw;
}

}

@media screen and (max-width: 893px) and (min-width: 830px){
.slider {
    height: 68.9vw;
}

}

@media screen and (max-width: 830px) and (min-width: 768px){
.slider {
    height: 70vw;
}

}

.Responsive-hide{
  display: none;
}

@media screen and (max-width: 767.9px){
  .header-wrapper {
    background-color: transparent;
}

  .singolo{
padding-top: 0;
    padding-left: 0;
  }

  .header {
    height: 71px;
        display: grid;
}

  .singolo h1{
    margin-top: 32px;
        font-size: 151.442%;
    margin-left: 39.446%;
  }

  .header-wrapper {

}

.burger-menu span{
    margin-bottom: 26%;
      display: block;
  width: 25px;
  background-color: white;
  height: 2.4px;
}

.burger-menu{
    position: absolute;
    margin-top: 26px;
    margin-left: 20px;
}

.rotate{
    margin-top: 24px;
    transform: rotate(-90deg);
}

.menu-small{
  padding-left: 71px;
    position: fixed;
  padding-top: 232px;
    height: 128vh;
      width: 278px;
    list-style: none;
    z-index: 25;
    background-color: #2D303A;
}

.menu-small li{
  color: white;
      height: 31px;
      margin-bottom: 27px;
font-family: Lato;
font-weight: bold;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.035em;
}

.open-menu{
  position: absolute;
  height: 100vw;
}

.burger-nav{
  text-align: left;
}

.singolo-title-left{
      margin-left: 71px !important;
}

.slider{
      padding-top: 24.25%;
      height: 75.3vw;
}

.horizontal-layer {
    top: 51.1%;
}

.left {
    margin-left: 1.7%;
    margin-top: 20.3%;
    padding: 0;
}

.right {
    margin-left: 77%;
    margin-top: 20.3%;
    padding: 0;
}

.slide2-src {
    width: 699%;
    margin-left: 269%;
}

.marginLeftR {
        margin-left: 77%!important;
            margin-right: 0;
}

.border-bottom {
    padding-bottom: 7px;
    border-bottom: 2px solid #ea676b;
}

.container {
    width: 79.96%;
        margin-top: 8.55%;
    grid-template-columns: 42.25%;
    grid-column-gap: 7.5%;
    grid-row-gap: 17.8%;
    grid-template-rows: 104px 104px 104px;
        margin-left: 8.53%;
        padding-bottom: 4%;
}

.servises {
    padding-top: 8.825%;
    height: 1032px;
}

.title {
    margin-top: 0px;
    padding-top: 0;
    margin-left: 8.53%;
    height: 4.452%;
}

.description {
    margin-top: 1%;
    width: 83.69%;
    height: auto;
    margin-left: 8.53%;
}

.description p {
    width: 97%;
    text-align: start;
}


.item {
    width: 236.687%;
}

.portfolio p {
    width: 82%;
}

.portfolio h2 {
    margin-top: 2.141%;
  }

.portfolio-container {
    grid-template-columns: 1fr 1fr;
    width: 94.8%;
    grid-gap: 0px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.portfolio h2, .portfolio p, .portfolio-buttons {
    margin-left: 8%;
}

.portfolio {
padding-top: 13.88%;
  }

.portfolio-container_size {
    margin-left: 7.019%;
    height: 150.4vw;
}

.portfolio-buttons {
    margin-top: 2.15%;
    margin-bottom: 5.35%;
    }

.portfolio-wrapper {
    padding-bottom: 9.51%;
}

.about-us_container {
    padding-bottom: 32.6%;
    grid-gap: 3.3%;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    width: 90.962%;
      margin-top: 5.8%;
}

.about-us_wriper p {
    width: 100%;
    text-align: start;
    height: auto;
}

.about-us_wriper {
    width: 100%;
    padding-left: 8%;
    padding-top: 11.47%;
}

.about-us_icon {
    margin-top: 2.87%;
}

.about-us-p-first{
  width: 88% !important;
}

.forms {
    grid-template-columns: 91%;
    margin-top: 6.93%;
    grid-gap:0;
}

.quote-wrapper h2 {
    padding-top: 11.73%;
}

.quote-wrapper h2, .quote-p, .forms {
    margin-left: 8%;
}

.quote-p {
    width: 81.69%;
    text-align: start;
        height: auto;
    }

    .button-last {
    width: 100%;
    height: 50px;
  }

.contact-information {
    margin-top: 10.19%;
  }

  .contact-first {
    margin-bottom: 0;
    height: auto;
}

.contact-information h3 {
    margin: 3px 0 8px 0;
    width: 100%;
}

.contact-information p {
    padding-left: 23px;
}

.contact-second {
    margin-top: 16px;
}

.quote-wrapper {
    height: 969px;
}

.footer-icon {
    padding-top: 22px;
        display: flex;
    justify-content: center;
         margin-top: 0; 
     margin-right: 0; 
    float: none;
}

.footer-icon li:first-child{
  margin-left:0px;
}

.right img,
.left img{
  width:93%;
}

}

@media screen and (max-width: 867.9px) and (min-width: 800px){
.horizontal-layer {
     margin-top: 1%; 
}
}

@media (max-width: 357px) and (min-width: 339px){
  .marginLeftR {
          margin-left: 76.3% !important;
  }

  .right {
          margin-left: 76.3% !important;
  }

  .portfolio_button {
  font-size: 11px;
  }

}


@media (max-width: 339px){
  .marginLeftR {
          margin-left: 75.65% !important;
  }

  .right {
          margin-left: 75.65% !important;
  }

   .portfolio_button {
  font-size: 10px;
  }

}





