@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: thin;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
}

body{
  --value: 6%;
}

.header-wrapper,
.slider-wrapper,
.servises-wrapper {
  width: 100%;
}

.header-wrapper {
  position: fixed;
    background-color: #2d303a;
    z-index: 25;
}

.header {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 89px;
  background-color: #2d303a;
}

.selected-nav {
  color: #f06c64 !important;
}

.singolo {
  background-color: #2d303a;
  font-size: 13px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 41px;
  padding-left: 40px;
  letter-spacing: -0.09em;
}

.menu-bar {
  background-color: #2d303a;
  margin-right: 26px;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato";
  font-weight: 100;
  text-align: left;
}

ul.menu {
  float: right;

}

ul.menu li {
  float: left;
  margin-right: 13px;
  margin-bottom: 3px;
  color: #ffffff;
  list-style: none;
  font-stretch: inherit;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.008em;
}

ul.menu li:hover {
  cursor: pointer;
  color: #f06c64;
}

.white {
  color: white;
}

.red {
  color: #f06c64;
}

.header-bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
  z-index: 10;
}

span.point:after {
  content: '\00B7';
  padding-right: 13px;
  color: #494e62;
}

.slider-wrapper {
  background-color: #f06c64;
}

.slider {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 537px;
  padding-top: 146px;
  padding-bottom: 6px;
}

.border-bottom{
  border-bottom: 6px solid #ea676b;
}

.left {
  height: 100%;
  margin-top: 226px;
  margin-left: 39px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.right {
  margin-left: 52px;
  height: 100%;
  margin-top: 228px;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0, 0.0);
}

.left:hover,
.right:hover {
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid #dbdc7e;
  box-shadow: 0 0 7px #ccce3c;
}

.horizontal {
  padding-top: 121px;
  margin-left: 72px;
}

.base {
  position: absolute;
  z-index: 2;
}

.shadow {
  padding-top: 1px;
  margin-left: 2px;
}

.screen {
  position: absolute;
  z-index: 3;
  margin-left: 57px;
  margin-top: 12px;
  width: 333px;
  height: 188px;
}

.LayerH {
  display: none;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  width: 333px;
  height: 188px;
  margin-left: 60px;
  margin-top: 15px;
  background-image: url(assets/LayerH.svg);
  background-position: 50.5% 30.4%;
}

.Speaker {
  position: absolute;
  z-index: 3;
  margin-left: 417px;
  margin-top: 90px;
}

.Circle {
  position: absolute;
  z-index: 3;
  margin-left: 8px;
  margin-top: 86px;
}

.Square {
  position: absolute;
  z-index: 4;
  margin-left: 21px;
  margin-top: 99px;
}

.OuterCircle {
  position: absolute;
  z-index: 3;
  margin-left: 432px;
  margin-top: 98px;
}

.RedDot {
  position: absolute;
  z-index: 4;
  margin-left: 435px;
  margin-top: 96px;
}

.vertical {
  padding-left: 49px;
}

.baseV {
  position: absolute;
  z-index: 2;
}

.screenV {
  position: absolute;
  z-index: 3;
  margin-left: 12px;
  margin-top: 64px;
  height: 333px;
  width: 188px;
}

.layerV {
  display: none;
  position: absolute;
  z-index: 4;
  margin-left: 15px;
  margin-top: 67px;
  overflow: hidden;
  height: 333px;
  width: 188px;
  background-image: url(assets/LayerV.svg);
  background-position: 3.5% 54.7%;
}

.speakerV {
  position: absolute;
  z-index: 3;
  margin-left: 91px;
  margin-top: 30px;
}

.circleV {
  position: absolute;
  z-index: 3;
  margin-left: 86px;
  margin-top: 407px;
}

.SquareV {
  position: absolute;
  z-index: 4;
  margin-left: 100px;
  margin-top: 420px;
}

.OuterCircleV {
  position: absolute;
  z-index: 3;
  margin-left: 102px;
  margin-top: 12px;
}

.RedDotV {
  position: absolute;
  z-index: 4;
  margin-left: 105px;
  margin-top: 9px;
}

.shadowV {
  padding-top: 1px;
  padding-left: 2px;
}

.servises-wrapper {
  background-color: #f2f2f2;
}

.servises {
  background-color: #f2f2f2;
  width: 1020px;
  height: 494px;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding-top: 69px;
  margin-left: 40px;
}

.description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 27px;
}

.container {
  margin-left: 40px;
  margin-top: 47px;
  width: 939px;
  height: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 45px;
  grid-template-rows: 1fr 1fr;
}

.item {
  width: 300px;
}

.last {
  width: 301px;
}

.pen {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 15px;
}

.bulb {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.heart {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 16px;
}

.phone {
  position: absolute;
  z-index: 2;
  margin-left: 18px;
  margin-top: 14px;
}

.bubble {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: 18px;
}

.star {
  position: absolute;
  z-index: 2;
  margin-left: 13px;
  margin-top: 15px;
}

.ellipse {
  float: left;
}

.text {
  color: #666d89;
  float: right;
  clear: both;
}

.text h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  overflow: hidden;
}

.text p {
  margin-top: 11px;
  width: 220px;
  height: 49px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: thin;
  font-style: italic;
  text-align: justify;
}

.servises-bottom {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.FeelLike {
  margin-left: 2px;
}

.LoveIs {
  margin-left: 2px;
}

.down {
  margin-top: 0.5%;
}

.portfolio {
  width: 100%;
  background-color: #2D303A;
  padding-top: 59px;
  border-bottom: 6px solid #323746;
  padding-left: 1px;
  ;
}

.portfolio-wrapper {
  width: 950px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.portfolio h2 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  text-align: left;
  font-weight: 900;
}

.portfolio p {
  width: 940px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  margin-top: 27px;
}

button {
  background-color: transparent;
  border: none;
}

.portfolio-buttons {
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 6px;
}

.portfolio_button {
  border: 1px solid #666D89;
  border-radius: 5px;
  color: #767e9e;
  margin-right: 7px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.selected-portfolio {
  color: #dedede;
  border-color: #dedede;
  padding: 0 7px;
}

.portfolio_button.second {
  letter-spacing: -0.01em;
}

.portfolio_button.third {
  padding: 0 7px;
}

.portfolio_button.forth {
  padding-left: 6px;
  padding-right: 7px;
  letter-spacing: 0;
}

.portfolio_button:hover {
  color: #dedede;
  border-color: #dedede;
  cursor: pointer;
}

.portfolio-container {
  margin-left: -5px;
  margin-top: -5px;
  width: 949px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

}

.portfolio-container_size {
  padding-top: 5px;
  height: 620px;
  overflow: hidden;
  padding-left: 5px;
}

.about {
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us_wriper {
  width: 940px;
  margin: 0 auto;
  padding-top: 69px;
}

.about-us_wriper h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.about-us_wriper p {
  margin-top: 27px;
  margin-bottom: 47px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  font-weight: 400;
}

.about-us_people h3 {
  white-space: pre;
  margin-top: 15px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  overflow: hidden;
}

.about-us_people p {
  width: 302px;
  margin-top: 10px !important;
  margin-bottom: 8px !important;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
}

.people_first {
  letter-spacing: 0.01em;
}

.people_second {
  letter-spacing: 0.014em;
}

.people_third {
  letter-spacing: 0.013em;
}

.about-us_container {
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  padding-bottom: 59px;
}

.about-us_people.last {
  margin-left: 1px;
}

.about-us_icon {
  text-align: center;
  margin-left: 1px;
}

.about-us_icon li {
  display: inline-block;
  margin-right: 6px;
  float: left;
}

.about-us_icon li:hover {
  opacity: 0.7;
}

.contact {
  width: 100%;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote-wrapper {
  width: 937px;
  height: 648px;
  margin: 0 auto;
}

.quote-wrapper h2 {
  padding-top: 69px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-left: -1px;
}

.quote-p {
  padding-top: 27px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

form {
  margin-top: 3px;
}

.forms {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 620px 301px;
  grid-gap: 19px;
}

.forms input {
  padding-left: 13px;
  width: 604px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.forms textarea {
  padding-left: 13px;
  width: 604px;
  height: 202px;
  resize: none;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

::placeholder {
  font-family: "Lato";
  font-weight: 400;
  color: #f48c8f;
  opacity: 1;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.01em;
}

textarea::placeholder {
  padding-top: 7px;
}

.button-last {
  background-color: transparent;
  border: 1px solid #f0d8d9;
  border-radius: 5px;
  color: #f0d8d9;
  width: 100px;
  height: 36px;
  float: right;
}

.contact-information {
  float: right;
  padding-left: 1px;
  width: 303px;
  height: 162px;
}

.contact-information h3 {
  margin: 3px 0 10px 0;
}

.contact-information p {
  width: 299px;
  font-size: 12px;
  line-height: 21px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 23px;
}

.contact-p-line {
  line-height: 26px !important;
  letter-spacing: 0.01em;
}

.contact-first {
  margin-bottom: 20px;
  padding-left: 0 !important;
}

.contact-second {
  background: url(assets/location.svg) no-repeat left 3px top 5px;
}

.contact-third {
  background: url(assets/phone1.svg) no-repeat left 1px top 5px;
  margin-bottom: -1px;
}

.contact-forth {
  background: url("assets/mail.svg") no-repeat left 0px top 8px;
  margin-top: 1px;
}

footer {
  width: 100%;
  height: 76px;
  background-color: #2d303a;
}

.footer-wrapper {
  width: 964px;
  margin: 0 auto;
}

.footer-icon {
  margin-top: -24px;
  margin-right: 4px;
  float: right;
  list-style: none;
}

.footer-icon li {
  float: left;
  margin-right: 6px;
}

.copyright {
  padding-left: 14px;
  padding-top: 30px;
  font-weight: 300;
  font-size: 12px;
  color: #666d89;
}

a {
  text-decoration: none;
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.copy-date {
  letter-spacing: -0.01em !important;
}

.footer-icon li:hover,
.contact-third:hover,
.contact-forth:hover {
  opacity: 0.7;
}

.button-last:hover {
  background-color: #f0d8d9;
  color: #666d89;
  cursor: pointer;
}

.slide{
  display: none;
  position: relative;  
}

.active-slide{
  display: block;
  
}

.first-slide{
}

.first-slide-container{
  display: flex;
}

.second-slide{
  padding-left: 170px;
  width: 678px;
}

.next {
  display: block;
  position : absolute;
  width: 100%;
  animation: 0.4s ease-in-out;
}

.marginLeft{
  margin-left: 900px !important;
}

.phones{
  display: flex;
  justify-content: center;
  
}

.to-left{
  animation-name: left;
}

.to-right{
  animation-name: right;
  animation-direction: reverse;
}

.from-left{
  animation-name: left;
  animation-direction: reverse;
}

.from-right{
  animation-name: right;
}

.slider-container{
  display: flex;
}

.blue {
  background-color: #648BF0;
  border-bottom:6px solid #648BF0;
}

.layerBackground{
  display: block;
}

.portfolio_projects{
  border: 5px solid transparent;
}

.borderBtn{
  border: 5px solid #F06C64;
}

.modal {
  position: absolute;
  top: 0; 
  left: 0;
  z-index:9998;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-wrapper{
  width: 100%;
  height: 492.5%;
  background: #0008;
}

.text-modal{
  padding: 30px;
  position: fixed;
  top: 20%;
  background-color: white;
  border-radius: 7px;
}

.text-modal p{
  font-size: 20px;
  color: grey;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


.button-OK{
  margin-top: 15px ;
  margin-left: 60px;
  width: 80px;
  height: 30px;
  border: 2px solid #F06C64;
  border-radius: 5px;
}

.button-OK:hover{
  background-color: #F06C64;
  color: white;
}

.hide {
  display: none;
}

@media(max-width:1020px){
  body{
    --value: 6%;
  }
}

@media(min-width:1021px) and ( max-width:1090px){
  body{
    --value: 8%;
  }
}

@media(min-width:1091px) and ( max-width:1160px){
  body{
    --value: 10%;
  }
}

@media(min-width:1161px) and ( max-width:1230px){
  body{
    --value: 12.1%;
  }
}

@media(min-width:1301px) and ( max-width:1370px){
  body{
    --value: 14.2%;
  }
}

@media(min-width:1371px) and ( max-width:1440px){
  body{
    --value: 16.3%;
  }
}

@media(min-width:1441px) and ( max-width:1510px){
  body{
    --value: 18.4%;
  }
}

@media(min-width:1511px)  and ( max-width:1580px){
  body{
    --value: 20.5%;
  }
}

@media(min-width:1581px)  and ( max-width:1660px){
  body{
    --value: 22.6%;
  }
}


@keyframes left{
  from {
      left: var(--value);
  }
  to {
      left: -100%;
  }
}

@keyframes right{
  from {
      left: 100%;
  }
  to {
      left: var(--value);
  }
}

